html {
	scroll-behavior: smooth;
}

.body {
	max-width: 1000px;
	min-width: 480px;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 900px;
	margin: 0 auto; /*make it centered*/
}

a {
	color: white;
	transition-duration: .6s !important;
}

a:hover {
	text-decoration: none;
	color: white;
	transition-duration: .6s !important;
}

#dark-link {
	color: #00aaff;
}

.navbar {
	position: fixed;
	transition: top 0.3s;
}

@media screen and (max-width: 575px) {
	#nav-logo {
		display: none;
	}
}

#navMain a {
	color: white;
	font-weight: 300;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#navMain a:hover {
	opacity: 70%;
	color:  #61caff !important;
	transition-duration: .3s;
}

#navLogo a:hover {
	opacity: 70%;
	transition-duration: .3s;
}

#blueOutline2 {
	outline: solid;
	outline-width: .1em;
	outline-color: #00aaff;
	transition-duration: .2s;
}

#blueOutline2:hover {
	outline: solid;
	outline-width: .2em;
	outline-color: #61caff;
	transition-duration: .2s;
}

@media screen and (max-width: 575px) {
	#blueOutline {
		outline: none;
	}
}

#mask {
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 20%;
}

.splash {
	width: 100%;
	height: 110vh;
	margin-top: -72px;
	background: url('./img/splashmasked.jpg') no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

h1 {
	color: white;
	font-weight: 300;
	font-size: 5em;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 4em;
	}
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 3em;
}

h3 {
	color: white;
	font-weight: 200;
	font-size: 2.5em;
}

@media screen and (max-width: 600px) {
	h3 {
		font-size: 2em;
	}
}

h4 {
	color: white;
	font-weight: 200;
	font-size: 1.5em;
}

#chevron {
	color: white;
}

#projects {
	background-color: #4a5958;
	min-height: 100vh;
}



#portfolioBtn {
	margin: auto auto;
	font-size: 1.1em;
	font-weight: 300;
}

#hoverAnim {
	transition-duration: .4s;
}

#hoverAnim:hover {
	transform: translateY(5px);
	transition-duration: .3s;
}

#testDiv {
	height: 300px;
}

.flip-card {
	background-color: transparent;
	width: 100%;
	height: 100%;
	max-width: 400px;
	perspective: 1000px;
	margin: 0 auto;
	backface-visibility: hidden;
}

.flip-card-inner {
	height: 100%;
	text-align: center;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	
}

.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #bbb;
	color: black;
	border-radius: 6px;
	
}


.flip-card-back {
	background-color: #586b70;
	height: 100%;
	color: white;
	transform: rotateY(180deg);
	border-radius: 6px;
	backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	transition-duration: .6s;
}

.flip-card a {
	color: #a0dfff;
}

.card-btm {
	height: 140px;
	border-radius: 6px;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-top {
	height: 150px;
}

.proj-title {
	background-color: #92a6a0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 0.75em;
}

.proj-desc {
	background-color: #686355;
	text-align: left;
	font-size: 0.9em;
	font-weight: 300;
}

#card-title {
	color: white;
	display: table;
	height: 100%;
	width: 100%;
}

#title {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
}

#card-front-1 {
	background-image: url(./img/modernoffice.jpg);
	background-position: center;
}

#card-front-2 {
	background-image: url(./img/arcade1.jpg);
	background-position: center;
}

#card-front-3 {
	background-image: url(./img/wetlands.jpg);
}

#card-front-4 {
	background-image: url(./img/carddesk.jpg);
}

#about {
	background-color: white;
}

#about h2 {
	color: #4a5958;
}

#aboutText {
	text-align: center;
	font-size: 1.2em;
}

#resume {
	background-color: #4a5958;
	height: 100px;
}

#tech {
	background-color: white;
}

#all-rows {
	max-width: 70%;
	margin: 0 auto;
}

#tech h2 {
	color: #4a5958;
}

#tech img {
	width: 75px;
}

#tech p {
	font-size: 1.2em;
	font-weight: 500;
	color: #4a5958;
	padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
	#tech p {
		font-size: 0.8em;
	}

	#all-rows {
		max-width: 90%;
	}

	#aboutText {
		font-size: 0.93em;
	}
}

@media screen and (max-width: 450px) {
	#tech img {
		width: 100%;
	}
}

#contact {
	background-color: #4a5958;
}

#con-left {
	background-image: url('./img/contact.png');
	background-position: center;
	background-size: cover;
}

@media screen and (max-width: 800px) {
	#con-left {
		display: none;
	}
	#small-contact {
		display: none;
	}
}

#form {
	text-align: left;
	color: white;
}

#form button {
	background-color: #00aaff;
	color: white;
}

#send {
	text-align: right;
}

.footer-link {
	color: #a0dfff;
}

footer {
	height: 100%;
	background-color: #4c5451;
}

footer img {
	width: 38px;
}

#linked-in {
	padding-left: 0px;
}

footer ul {
	color: white;
	list-style: none;
	text-align: right;
}

.foot-li {
	font-size: 0.8em;
}

#small-contact {
	padding-right: 0px;
}

@media screen and (max-width: 950px) {
	#con-icons {
		padding-left: 50px;
	}
}
